<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="/assets/css/sass/app.css" />
    <title></title>
    <script type="text/javascript" src="/assets/js/angular.js"></script>
</head>
<body>
    <div class="container" ng-cloak class="ng-cloak" ng-init="view='welcome-screen'">
        <div class="jumbotron" ng-show="!user && view=='welcome-screen'">
            <h1>Welcome to expenses tracker!</h1>
            <p>You need to register to use it</p>
            <p>Please login or register using buttons below</p>
            <p><a class="btn btn-primary btn-lg" href="#" role="button"
                  ng-click="loginType = 'login'; view='login'">Login</a>
               <a class="btn btn-primary btn-lg" href="#" role="button"
                  ng-click="loginType = 'register'; view='login'">Register</a></p>
        </div>
        <div class="col-md-12 row" ng-show="view=='login'">
            <div class="col-md-4 col-md-offset-4 col-xs-6 col-xs-offset-3">
                <form name="form" class="form-signin" login-form>
                    <h2 class="form-signin-heading">Please {{loginType}}</h2>
                    <input type="email" class="form-control"
                           placeholder="Email Address" required="" autofocus=""
                           ng-model="login.email"/>
                    <input type="password" class="form-control"
                           placeholder="Password" required=""
                           ng-model="login.password"/>
                    <div class="alert alert-danger"
                         ng-show="errorMessage">{{errorMessage}}</div>
                    <div class="btn-group col-xs-12">
                        <button class="col-xs-6 btn btn-lg btn-primary" type="submit"
                                ng-disabled="dataFlow || form.$invalid">
                            {{loginButton}}</button>
                        <a class="col-xs-6 btn btn-lg btn-primary"
                           ng-click="$root.view='welcome-screen'"
                           clear-form>Cancel</a>
                    </div>
                </form>
            </div>
        </div>
        <div class="col-md-12 row" ng-show="user"
             ng-controller="expensesController">
            <div class="clearfix expenses-head">
                <div class="pull-right">Hello, {{user.email}}
                    <a class="btn btn-sm btn-primary"
                       ng-click="logout()" ng-disable="dataFlow">Logout</a>
                </div>
                <div class="pull-left">
                    <a class="btn btn-sm btn-primary">Weekly report</a>
                </div>
                <div class="pull-left col-xs-8">
                    <input type="text" class="form-control"
                           placeholder="Search expenses">
                </div>
            </div>
            <table class="table col-md-12" ng-show="expenses">
                <thead>
                    <th>Date</th>
                    <th>Time</th>
                    <th>Amount</th>
                    <th>Comment</th>
                    <th>Description</th>
                </thead>
                <tr ng-repeat="e in expenses">
                    <td>{{e.timestamp | date}}</td>
                    <td>{{e.timestamp | date:'shortTime'}}</td>
                    <td>{{e.amount | currency}}</td>
                    <td>{{e.comment}}</td>
                    <td>{{e.description}}</td>
                </tr>
            </table>
        </div>
    </div>
    <div id="user"></div>
    <script type="text/javascript" src="/assets/js/angular-resource.js"></script>
    <script type="text/javascript" src="/assets/js/app.js"></script>
</body>
</html>
